{:paths ["src" "resources"]
 :deps {org.clojure/core.match {:mvn/version "1.0.0"}}
 :aliases
 {:test {:extra-paths ["test"]}
  :hooks {:deps
          {clj-kondo/clj-kondo
           {:git/url "https://github.com/clj-kondo/clj-kondo.git"
            :git/tag "v2025.01.16"
            :git/sha "3994c84"}}
          :paths ["resources/clj-kondo.exports/org.senatehouse/expect-call"]}}}
